<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mumuni.springboot_web.dao.LookupMapper">
    <select id="getConnectionCountMonthly" parameterType="map" resultType="CountOfPeriodVO">
        select A.date, COUNT(*) as count from
        (
        SELECT distinct DATE_FORMAT(CREATE_DATE,'%Y-%m') date, USERID
        FROM RequestHistory
        WHERE CREATE_DATE>= #{startDate} AND #{endDate} > CREATE_DATE
        ) as A
        group by A.date;
    </select>
    <select id="getConnectionCountDaily" parameterType="map" resultType="CountOfPeriodVO">
        select A.date, COUNT(*) as count from
        (
        SELECT distinct DATE_FORMAT(CREATE_DATE,'%Y-%m-%d') date, USERID
        FROM RequestHistory
        WHERE CREATE_DATE>= #{startDate} AND #{endDate} > CREATE_DATE
        ) as A
        group by A.date;
    </select>


</mapper>