<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.mumuni.springboot_web.dao.LookupMapper">
    <select id="getConnectionCounts" parameterType="map" resultType="CountOfPeriodVO">
        select DATE_FORMAT(A.CREATE_DATE,#{dateFormat}) as create_at, COUNT(distinct A.USERID) as totalcount
        from REQUESTHISTORY_TB as A
        where A.CREATE_DATE > #{startDate} AND #{endDate} > A.CREATE_DATE
        group by create_at;
    </select>
</mapper>