<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- TODO: 질문: 중복되는 쿼리문들은 1.조건을 이용하여 중복을 최소화, 2.내용이 중복되어도 새로 만듬 (아래 상단 2개의 쿼리문)-->
<mapper namespace="com.mumuni.springboot_web.dao.LookupMapper">
<!-- Long getOrderCount(Map<String, String> map) -->
    <select id="getOrderCount" parameterType="map" resultType="long">
		select count(*) as total_count
		from REQUESTHISTORY_TB as r
		inner join USERINFO_TB as u on r.USERID = u.USERID
		inner join TEAMINFO_TB as t on u.TEAMCODE = t.TEAMCODE
		inner join REQUESTCODEINFO_TB as c on c.REQUESTCODE = r.REQUESTCODE
			and c.CODEEXPLAIN like #{order}
			<if test="startDate != null">
				and r.CREATE_DATE >= #{startDate}
			</if>
			<if test="startDate != null">
				and #{endDate} > r.CREATE_DATE
			</if>
			<if test="exceptWeekend != null">
				AND DAYOFWEEK(r.CREATE_DATE) != 7 AND DAYOFWEEK(r.CREATE_DATE) != 1
			</if>
    </select>
</mapper>